.cuadricula{
    display: grid;
    min-width: 30%;
    max-width: 30%;
    grid-template-columns: 45% auto 45% ;
}

h1{
    font-size: 3rem;
    font-weight: bold;
    background-color: cornflowerblue;
    min-width: 30%;
    max-width: 30%;
    border-radius: 1rem;
}

.nombre_columna{
    background-color:cadetblue;
    border-radius: 1rem;

}
.telefono_columna{
    background-color: aquamarine;
    border-radius: 1rem;
 }
 
 h1,
 h2,
 div{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
 }