/* Root, resets y clases generales
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --level-1: #8dccad;
    --level-2: #f5cc7f;
    --level-3: #7b9fe0;
    --level-4: #f27c8d;
    --white: white;
    --black: black;
    --malibu-50: #effaff;
    --malibu-100: #dff3ff;
    --malibu-200: #b8e9ff;
    --malibu-300: #78d9ff;
    --malibu-400: #42cbff;
    --malibu-500: #06b0f1;
    --malibu-600: #008dce;
    --malibu-700: #0070a7;
    --malibu-800: #025e8a;
    --malibu-900: #084e72;
    --malibu-950: #06314b;
  }
  body{
    padding: 0;
    margin: 0;
    font-family: "Protest Riot", sans-serif;
  }

  button{
    all: initial;
  }
  
  ol {
    list-style: none;
  }
  
  body {
    margin: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    background-color: black;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
a,
label,
div,
button{
  font-family: "Protest Riot", sans-serif;
}
  h1{
    color: white;
    position: absolute;
    font-size: 100px;
    min-width: 100%;
    text-align: center;
    top: 35%;
    text-shadow: 13px 13px 13px black; 
  }

  h2{
    color: white;
    position: absolute;
    font-size: 50px;
    min-width: 50%;
    max-width: 50%;
    right: 0%;
    text-align: center;
    top: 80%;
    text-shadow: 13px 13px 13px black; 
  }

  .font_footer{
    color: var(--white);
    font-size: 1.2rem;
  }

  .quienesSomosTitulo{
    font-size: 4rem;
  }
  .quienesSomosTexto{
    text-align: justify;
    padding-top: 8rem;
    padding-right: 10rem;
    padding-left: 10rem;
    font-size: 2rem;
  }

  #font_contacto{
    color: var(--white);
    font-size: 3rem;
  }
  .font_txt_contact{
    font-size: 1.2rem;
  }
  
  /* header
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
    header{
      position: relative;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    .image_background{
      top: -100px;
      left: 0%;
      z-index: 1;
      opacity: 1;
    }
    
    p{
      font-size: 70px;
    }

     /* navbar
  ––––––––––––––––––––––––––––––––––––––––––––––––––----------------------- */
  #navbar{
    text-decoration: none;
    box-shadow: 0px 0px 10px 1px var(--gray3);
    background-color: var(--malibu-300);
    margin-bottom: 0px;
    padding: 0px;
  }

.navbar_top {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black); 
    padding-top: 0px;
    padding-bottom: 0px;
}


.hover_texto{
    text-decoration: none;
    color: black;
    transition: max-height 0.4s ease;
    margin-top: 13px;
}

.hover_texto:hover{
    color: var(--white);
}

.small_logo{
  width: 70px;
  height: 55px;
  left: 100px;
}
/**
Abrir y cerrar navbar
*/

#navbar ul{
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition:  max-height 0.4s ease;
}

#navbar.open ul{
    max-height: 250px;
}

/**
Navbar decoracion naranja y animacion
----------------------------------------------------------------------------------------
*/
#navbar ul li{
    position:relative;
    background: var(--malibu-700);
    display: flex;
    transition-duration: 0.4s;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 100%;
    align-content: center;
    
}

#navbar ul li:hover{
    background-color: var(--malibu-950);
    transition-duration: 0.4s;
    cursor: pointer;
}

#navbar ul a{
    text-decoration: none;
    color: var(--white);
    text-align: center;
    min-width: 100%;
}

.navbar_fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

/* QUIENES SOMOS
--------------------------------------------------------------------- */
#quinesSomosSection{
  display: grid;
  grid-template-columns: 60% auto ;
  background-color: var(--malibu-100);
}

/* MISION
--------------------------------------------------------------------- */
.misionSection{
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.imgSectionVision{
  height: 1080px;
  width: 1920px;
  right: 2rem;
  opacity: 1;
}

#misionTitulo{
  color: var(--white);
  position: absolute;
  font-size: 100px;
  text-align: center;
  top: 200%;
  left: 17%;
  text-shadow: 13px 13px 13px black; 
}

#misionTexto{
  color: var(--white);
  position: absolute;
  font-size: 30px;
  top: 220%;
  right: 60%;
  left: 8%;
  text-align: justify;
  text-shadow: 13px 13px 13px black; 
}

/* VISION 
---------------------------------------------------------------------------- */

#visionSection{
  padding: 0;
  border: 0;
}
#visionTitulo{
  color: var(--white);
  position: absolute;
  font-size: 100px;
  text-align: center;
  top: 320%;
  right: 25%;
  text-shadow: 13px 13px 13px black; 
}

#visionTexto{
  color: var(--white);
  position: absolute;
  font-size: 30px;
  top: 340%;
  left: 50%;
  right: 8%;
  text-align: justify;
  text-shadow: 13px 13px 13px black; 
}




/*ORGANIGRAMA
---------------------------------------------------------------------------------------*/
  #organigrama{
   background-color: var(--malibu-200);
   min-width: 100%;
  }

  .container {
    max-width: 1000px;
    padding: 5rem 10px;
    margin: 0 auto;
  }
  
  .rectangle {
    position: relative;
    padding: 0px;
    height: 8rem;
    border-radius: 2rem;
  }
  
  .orgi_vertical{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    border-top: 1px solid black;
    margin: 0px;
  }

  .profile_images{
    display: block;
    position: absolute;
    left: 195px;
    bottom: 100px;
    width: 100px;
    height: 100px;
    border-radius: 20rem;
    border: 2px solid var(--malibu-900);
  }

  .rectangle_middle_line{
    display: block;
    position: absolute;
    margin: 0px;
    border: 1px solid black;
    height: 75px;
  }
  .rectangle_side_title{
    margin: 0px 10px 0px;
  }

  /*Profile images correcion de posicionamento de imagen por nivel de organigrama
  ----------------------------------------------------------------------------------------------------
  */
  #level_2_Position{
    left: 125px;
  }
  #level_3_Position{
    left: 60px;
    bottom: 110px;
  }
  
  /* LEVEL-1 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-1,
  .level-2,
  .level-3{
    background: var(--white);
  }

  .level-1 {
    width: 50%;
    margin: 0 auto 150px;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--malibu-800);
  }
  
  .level-1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 115px;
    background: var(--black);
  }
  
  
  /* LEVEL-2 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-2-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .level-2-wrapper::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 25%;
    width: 50%;
    height: 2px;
    background: var(--black);
  }
  
  .level-2-wrapper::after {
    display: none;
    content: "";
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: calc(100% + 20px);
    height: 2px;
    background: var(--black);
  }
  
  .level-2-wrapper li {
    position: relative;
  }
  
  .level-2-wrapper > li::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100px;
    background: var(--black);
  }
  
  .level-2 {
    width: 70%;
    margin: 0 auto 150px;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--malibu-500);
  }
  
  .level-2::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 50px;
    background: var(--black);
  }
  
  .level-2::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%);
    width: 20px;
    height: 2px;
    background: var(--black);
  }
  
  
  /* LEVEL-3 STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .level-3-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    width: 90%;
    margin: 0 auto;
  }
  
  .level-3-wrapper::before {
    content: "";
    position: absolute;
    top: -100px;
    left: calc(25% - 5px);
    width: calc(50% + 10px);
    height: 2px;
    background: var(--black);
  }
  
  .level-3-wrapper > li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 2px;
    height: 99px;
    background: var(--black);
  }
  
  .level-3 {
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--level-3);
  }

  /* CONTACTO
  ------------------------------------------------------------- */
  .section_contact{
    background-color: var(--malibu-300);
}
.espacio_contact{
    margin: 3rem auto;
    display: block;
}
.input_mail,.input_message{
    border: none; 
    box-shadow: none;
    cursor: pointer;
    resize: none;
    font-size: 1.1rem;
    width: 30rem;
    height: auto;
    padding: 0.5rem;
 }


 .input_message{
    height: 10rem;
 }

 #Contact hr{
    background-image: radial-gradient(circle , var(--malibu-700), transparent);
 }
 #Contact h3 {
    color: var(--white);
 }

 #Contact button{
  text-align: center;
    border: none;
    padding: 0.5rem;
    background-color: var(--malibu-700);
    color: var(--white);
    border-radius: 1rem;
    font-size: 1.2rem;
    width: 8rem;
    transition: transform 0.4s ease;
    cursor: pointer;
 }

 #Contact button:hover{
    transform: scale(1.1);
 }

 #Contact a{
    text-decoration: none;
 }

 #Contact img {
    border-radius: 50%;
    background-color: var(--white);
    transition: transform 0.4s ease, background-color 0.4s ease;
    margin: 1rem 1rem;
    cursor: pointer;
    border: none;
 }

 #Contact img:hover{
    transform: scale(1.2);
    background-color: var(--malibu-900);
 }

 /* FOOTER 
 -------------------------------------------------------------- */
 .footer{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: var(--malibu-950);
  text-align: center;
  bottom: 0;
  width: 100%;

}
  /* MQ STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 700px) {
    .rectangle {
      padding: 20px 10px;
    }
  
    .level-1,
    .level-2 {
      width: 100%;
    }
  
    .level-1 {
      margin-bottom: 20px;
    }
  
    .level-1::before,
    .level-2-wrapper > li::before {
      display: none;
    }
    
    .level-2-wrapper,
    .level-2-wrapper::after,
    .level-2::after {
      display: block;
    }
  
    .level-2-wrapper {
      width: 90%;
      margin-left: 10%;
    }
  
    .level-2-wrapper::before {
      left: -20px;
      width: 2px;
      height: calc(100% + 40px);
    }
  
    .level-2-wrapper > li:not(:first-child) {
      margin-top: 50px;
    }
  }




